<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>java_web</display-name>

	<context-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
		<context-param>
		<param-name>name</param-name>
		<param-value>alex</param-value>
	</context-param>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>TestServlet</display-name>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>demo.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ParamServlet</display-name>
		<servlet-name>ParamServlet</servlet-name>
		<servlet-class>demo.ParamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ParamServlet</servlet-name>
		<url-pattern>/ParamServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>demo.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>servletContextDemo</display-name>
		<servlet-name>servletContextDemo</servlet-name>
		<servlet-class>demo.servletContextDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletContextDemo</servlet-name>
		<url-pattern>/contextTest</url-pattern>
	</servlet-mapping>
</web-app>